<!-- <p>list-produit works!</p> -->

<div class="w-full h-full">
    <div class="flex items-center justify-start">
        <label for="username-success" class="block text-sm font-medium text-secondary p-2">Rechercher par</label>

        <select id="countries" (change)="perPage($event)"
            class=" p-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10">10</option>
            <option value="12">12</option>
            <option value="14">14</option>
           
        </select>
        <label for="username-success" class=" p-2 block text-sm font-medium text-secondary">Rechercher par</label>

    </div>
    <div class="w-full h-[90%]">


        <div class="relative overflow-x-auto shadow-md sm:rounded-lg max-h-[80%] overflow-y-auto">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <caption
                    class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                    Listes des Produits
                </caption>
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            code
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Produit
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Categorie
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Marque
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Prix
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Quantite
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <button type="button"
                                class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Ajouter</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let produit of produits"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{produit.produit.code}}
                        </th>
                        <td class="px-6 py-4">
                            {{produit.produit.libelle}}
                        </td>
                        <td class="px-6 py-4">
                            {{produit.produit.categorie.libelle}}
                        </td>
                        <td class="px-6 py-4">
                            {{produit.produit.marque.libelle}}
                        </td>
                        <td class="px-6 py-4">
                            {{produit.prix}}
                        </td>
                        <td class="px-6 py-4">
                            {{produit.stock}}
                        </td>
                        <td class="px-6 py-4 text-right">
                            <button type="button"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Detail</button>
                            <button type="button"
                                class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900">Editer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w-full p-3 ">
            <app-pagination [links]="links" (page)="otherPage($event)"></app-pagination>
        </div>


    </div>

</div>